/* Global Button Styling */
button,
[role="button"] {
  cursor: pointer;
}

button[disabled],
[role="button"][disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* Global Checkbox Styling */
input[type="checkbox"] {
  @apply appearance-none w-4 h-4 bg-white dark:bg-black border border-zinc-300 dark:border-zinc-700 cursor-pointer transition-all duration-200 inline-flex items-center justify-center m-0 align-middle rounded;
  box-shadow: var(--theme-recess-sm);
}

input[type="checkbox"]::before {
  content: "\ea5e";
  font-family: "tabler-icons";
  @apply text-transparent text-xs leading-none transition-colors duration-200;
}

input[type="checkbox"]:checked {
  @apply bg-blue-500 border-blue-500;
  box-shadow: inset 0 1px 0 0 rgb(255 255 255 / 0.35);
}

input[type="checkbox"]:checked::before {
  @apply text-white;
}

input[type="checkbox"]:hover {
  @apply scale-105;
}

input[type="checkbox"]:focus {
  @apply outline-none;
}

input[type="checkbox"]:focus-visible {
  @apply focus-ui;
}

input[type="checkbox"]:disabled {
  @apply opacity-50 cursor-not-allowed;
}

input[type="checkbox"]:disabled:hover {
  @apply scale-100;
}
